<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<h3>Pokemon: </h3>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Level</th>
			<th>Health</th>
			<th>Damage?</th>
		</tr>
	</thead>
	<tbody>
		<% @pokemons.each do |pokemon| %>
			<tr>
				<td><%= pokemon.name %></td>
				<td><%= pokemon.level %></td>
				<td><%= pokemon.health %></td>
				<td> <%= button_to "Damage This Pokemon!", damage_path(id: pokemon), :class => "button tiny", :method => :patch %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<% if @trainer == current_trainer %>
	<%= button_to "Create a Pokemon", new_path, :class => "button medium", :method => :get %>
<% end %>
